#promo-banner {
    margin-top: 140px;
    width: 100%;
}

#promo-banner__background {
    width: 1170px;
    height: 379px;
    background-image: url("../src/img/png/cat_promo.png");
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
}

#promo__text_title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    /* Текст */

    color: #1A212F;
}

#promo__text_free {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    display: flex;
    align-items: center;
}

#promo__text_smol {
    font-family: LatoRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    display: flex;
    align-items: center;
}

#promo-banner__content {
    position: absolute;
    margin-left: 270px;
    margin-top: 78px;
}

.main-banner__button {
    margin-top: 30px;
}

#searching__title_button {
    width: 174px;
    height: 35px;

    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;


    font-family: LatoRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    border: none;
}

#searching__title_button .select-selected {
    margin-right: 10px;
}


#searching__button_content {
    position: absolute;
    display: flex;

    flex-direction: row;
    justify-items: baseline;

    margin-left: 20px;
    margin-top: 10px;
}


#button__text {
    margin-left: 5px;
    margin-right: 30px;
}

#searching__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;

}

#searching {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
}

#searching__content_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#searching__content {
    width: calc(100%-196px);
    padding-left: 98px;
    padding-right: 98px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

/*settings*/
.setting__title {
    font-family: LatoRegular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F;
    margin-top: 40px;
}


.setting__checkbox {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox__square {
    width: 20px;
    height: 20px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
}

.checkbox__text {
    font-family: LatoRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    /* Текст */

    color: #1A212F;

    margin-left: 10px;
}

.setting__input {
    width: 100px;
    height: 24px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
}

.setting__input.to {
    margin-left: 10px;
}

.setting__body.from_to {
    margin-top: 20px;
}

#searching__settings {
    width: 250px;
}

#setting__button {
    font-family: LatoRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 17px;
    width: 185px;
    height: 42px;

    /* Желтый */

    border: 2px solid #FAC663;
    box-sizing: border-box;
    border-radius: 25px;

    margin-top: 42px;
}

#searching__body {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

/*select*/

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 12px;
    height: 6px;
    /*   width: 0;
    height: 0;
 border: 6px solid transparent;
    border-color: black transparent transparent transparent;*/
    background-image: url("../src/img/png/open.png");
    background-size: 12px 6px;
    margin-right: 14px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    background-image: url("../src/img/png/close.png");
    background-size: 12px 6px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {

    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}


/*rooms*/
.result__room {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px;
    width: 270px;
    margin-top: 30px;
}
.result__room_img img {
    width: 268px;
}

.result__room_body {
    font-family: LatoRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1A212F;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    width: 250px;

}

.result__room_title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

.result__room_equip {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.result__room_text {
    margin-top: 15px;
}

.result__room_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    /* Текст */

    color: #1A212F;
    margin-left: 10px;
}

.room_equip {
    margin-left: 6px;
}

.room_equip__content {
    margin-left: 4px;
}

/*уъу*/
#searching__result_content {
    display: flex;
    flex-direction: row;
    width: 870px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#searching__result {
    width: 870px;
}
