.main_room {
    width: 100%;
    margin-top: 70px;
    max-width: 1366px;
}

.main_room__content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 98px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_room__small_pictures {
    display: flex;
    flex-direction: column;

}

.main_room__small_picture {
    position: relative;
    margin-bottom: 30px;
}

.small_picture_white_overlay {
    background-color: white;
    opacity: 0.5;
    position: absolute;
}

.small_picture,
.small_picture_white_overlay {
    width: 70px;
    height: 112px;
}

.main_room__big_picture {
    margin-left: 30px;
}

.main_room__big_picture img {
    width: 500px;
    height: 396px;
    border-radius: 8px;
}

.result__room_title{
    font-size: 36px;
    margin-bottom: 40px;
}
.room_equip {
    margin-right: 6px;
    margin-left: 0px;
}
.room_price{
    margin-top: 20px;
}

.result__room_body{
    padding-top: 0px;
    padding-left: 70px;
    font-size: 16px;
    width: 265px;
}

#cat_page{
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}